*.swp
.*.tmp
.remote-sync.json
.sync-config.cson
.electron
.electron-gyp
.npmrc
.idea
.jshintignore
.jshintrc

.DS_Store

# node.js
#
node_modules/
npm-debug.log

build/*
dist/
.vscode/settings.json
.yarn
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.env
