div[class^="ContainerNavigationInner"] {
    background: white !important;
}

div[class^="ContainerNavigationInner"] button {
    color: #666666 !important;
}

div[class^="ContainerNavigationInner"] button:hover {
    background: #F5F5F5 !important;
}


div[class^="Card__Body"] {
    background: #3DBD86 !important;
}

div[class^="Card__Body"] button {
    background: #0D8040 !important;
    box-shadow: none !important;
}

div[class^="Droplist__Content"] {
    background: white !important;
}

span[class^="Item__Span"] {
    color: #666666 !important;
}
div[class^="Droplist__Trigger"] span[class^="Icon__IconWrapper"] {
    color: #F5F5F5 !important;
}

span[class^="Item__Span"]:hover {
    background: #eeeeee !important;
}

div[class^="DrawerInner"] {
    background: #F1F1F1;
    color: #333333;
}

@keyframes shadow {
    from {
        box-shadow:0 0 0 2px #3DBD86;
    }
  
    to {
        box-shadow:0 0 0 2px #3DBD86;
    }
  }

div[class^="Target__TargetInner"] {
    animation: shadow 3000ms cubic-bezier(0.55,0.055,0.675,0.19) infinite;
}

div[class^="Content__ChildWrapper"] div[class^="Content"] {
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #333333;
    font-size:15px;
}
